#
# This file is part of Sen2Cor Docker.
# Copyright (C) 2021-2022 INPE.
#
# Sen2cor Docker is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.
#
CCI4SEN2COR/
S2A_MSIL1C*
S2A_MSIL2A*
srtm/
ESACCI-LC-L4-ALL-FOR-SEN2COR.zip